body {
    max-width: 1140px;
    margin: 0 auto;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #434e65;
}

/* Reusable css */
h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    position: relative;
    padding: 10px 0;
}

h2::after {
    display: block;
    content: '';
    height: 3px;
    margin: 10px auto;
}

.defaultButton {
    background-image: linear-gradient(to bottom, #fe7467, #fc3836);
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

/* Header */
header{
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

header.headerHome {
    background-image: url("/img/spidermanheader.jpg");
}

header.headerCatalogue {
    background-image: url("/img/captainmarvelheader.jpg");
}

header.headerContact {
    background-image: url("/img/contatoheader.jpg");
}

.logo {
    width: 100%;
    max-width: 100px;
    height: auto;
}

nav {
    display: flex;
    flex-flow: row nowrap;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: auto 30px;
    padding-bottom: 10px;
}

nav a.currentPage {
    border-bottom: 3px solid #fe7467;
}

.sectionTitle {
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.sectionTitle img.imgTitle {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* Main */
/** Home */
/*** Section Who We Are */
.sectionWhoWeAre {
    padding: 20px;
    background-image: url("/img/thor_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.titleWhoWeAre, .descriptionWhoWeAre {
    color: white;
}

.titleWhoWeAre::after {
    background: white;
    width: 150px;
}

/*** Section Catalogue */

.titleSectionCatalogue {
    color: #434e65;
}

.titleSectionCatalogue::after {
    background: #fe7467;
    width: 120px;
}

.imgSectionCatalogue {
    width: 600px;
    height: auto;
}