body {
    max-width: 1140px;
    margin: 0 auto;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #434e65;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #434e65;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    position: relative;
    padding: 10px 0;
}

/* Reusable css */
h2::after {
    display: block;
    content: '';
    height: 3px;
    margin: 10px auto;
}

.defaultButton {
    background-image: linear-gradient(to bottom, #fe7467, #fc3836);
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

/* Header */
header{
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

header.headerHome {
    background-image: url("/img/spidermanheader.jpg");
}

header.headerCatalogue {
    background-image: url("/img/captainmarvelheader.jpg");
}

header.headerContact {
    background-image: url("/img/contatoheader.jpg");
}

.logo {
    width: 100%;
    max-width: 100px;
    height: auto;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 30px;
    padding-bottom: 10px;
}

nav a:nth-child(2) {
    margin-left: 80px;
}

nav a.currentPage {
    border-bottom: 3px solid #fe7467;
}

.sectionTitle img.imgTitle {
    width: 100%;
    height: auto;
    position: relative;
}

.sectionTitle img.spidermanTitle {
    top: 160px;
    left: 30px;
    max-width: 260px;
}

.sectionTitle img.marvelTitle {
    top: 320px;
    left: 210px;
    max-width: 350px;
}

.sectionTitle img.robinTitle {
    top: 280px;
    left: 170px;
    max-width: 350px;
}


/* Main */
/** Home */
/*** Section Who We Are */
.sectionWhoWeAre {
    padding: 20px;
    background-image: url("/img/thor_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.titleWhoWeAre, .descriptionWhoWeAre {
    color: white;
}

.titleWhoWeAre::after {
    background: white;
    width: 150px;
}

/*** Section Catalogue */

.titleSectionCatalogue {
    color: #434e65;
}

.titleSectionCatalogue::after {
    background: #fe7467;
    width: 120px;
}

.imgSectionCatalogue {
    width: 600px;
    height: auto;
}

/** Catalogue */
.catalogueImg {
    width: 350px;
    height: auto;
}

.cataloguePrice {
    font-weight: 700;
    font-style: italic;
}

.catalogueTitle::after {
    background: #fe7467;
    width: 120px;
}

/** Contact */
.contactTitle::after {
    background: #fe7467;
    width: 120px;
}

.contactParagraph{
    font-weight: 700;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

input[type=text], input[type=email], input[type=tel], textarea {
    background-color: #f6f6f6;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    color: lightgray;
    text-transform: uppercase;
}

textarea {
    text-transform: none;
}
